// *url('/assets/II.scss/03.Base/_a.generics.scss')

/*----------------------------------------*\
//#GENERICS
\*----------------------------------------*/

* {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
