// *url('/assets/II.scss/01.Settings/_a.variables.scss');

// ----------------------------------------
// #VARIÃVEIS SASS
// -------------------------------------

// -> Colors:
$colors: (
    'primary'     : blue,
    'secondary'   : orange,
    'background'  : #f5f5f5,
    'surface'     : #f5f5f5,
    'error'       : #f5f5f5,
    'onPrimary'   : #222,
    'onBackground': #222,
    'onSurface'   : #222,
);


// -> breakpoints:
$breakpoints: (
    'small': 600px,
    'med'  : 900px,
    'large': 1200px,
);


// -> Fonts:
$fonts: (
    "sansserif": (
        'Poppins',
        'Source Sans Pro',
        'Verdana',
        'Arial',
        'Helvetica',
        sans-serif,
    ),

    "serif": (
        'Source Serif Pro',
        'Times New Roman',
        'Times',
        'Georgia',
        serif,
    ),

    "monospace": (
        'Courier',
        monospace,
    )
);

