// *url('/assets/II.scss/06.Themes/_a.default.scss')

/*----------------------------------------*\
//#THEME: DEFAULT
\*----------------------------------------*/

:root {
    @each $name-color,
    $value-color in $colors {
        --color-#{$name-color}: #{$value-color};
    };

}

// Coloque aqui os elementos relativo a cores do tema padrão.
body {
    background-color: v(background);
    color: v(text);
}

.dark-mode {
    padding: 0 10px;
    cursor: pointer;
}

.fa-sun {
    display: none;
}