// *url('/assets/scss/01.Settings/_b.variables.scss');

// ========== VARIÃVEIS SASS ==========
// -> Colors:
$colors: (
    'primary': #00f,
    'secondary': #0f0,
    'background': #f5f5f5,
    'text': #222,
);

$colors-dark: (
    'primary': darkblue,
    'secondary': darkgreen,
    'background': black,
    'text': snow,
);

// -> breakpoints:
$breakpoints: (
    'small': 600px,
    'med': 900px,
    'large': 1200px,
);

// -> Fonts:
$font-sansserif: (
    'Source Sans Pro',
    'Verdana',
    'Arial',
    'Helvetica',
    sans-serif,
);

$font-serif: (
    'Source Serif Pro',
    'Times New Roman',
    'Times',
    'Georgia',
    serif,
);

$font-monospace: (
    'Source Code Pro',
    'Courier',
    monospace,
);
