// 01.Settings/_b.variables.scss

// Colors
$color-primary: #ff9617;
$color-secondary: #4078c0;
$color-text: #222;

// Fonts
$font-sansserif: 'Source Sans Pro', 'Verdana', 'Arial', 'Helvetica', sans-serif;
$font-serif: 'Source Serif Pro', 'Times', 'Times New Roman', 'Georgia', serif;
