// *url('/assets/scss/01.Settings/_b.variables.scss');

// ========== VARIÁVEIS SASS ==========
// -> Cores:
$colors: (
    'primary': #00f,
    'secondary': #0f0,
    'background': #f5f5f5,
    'text': #222,
);

$colors-dark: (
    'primary': darkblue,
    'secondary': darkgreen,
    'background': black,
    'text': snow,
);

// -> breakpoints:
$breakpoints: (
    'small': 600px,
    'med': 900px,
    'large': 1200px,
);

// -> Fontes:
$font-sansserif: (
    'Source Sans Pro',
    'Verdana',
    'Arial',
    'Helvetica',
    sans-serif,
);

$font-serif: (
    'Source Serif Pro',
    'Times New Roman',
    'Times',
    'Georgia',
    serif,
);

$font-monospace: (
    'Source Code Pro',
    'Courier',
    monospace,
);

// ========== VARIÁVEIS CSS ==========
:root {

    /* !variáveis de cores */
    @each $name-color,
    $value-color in $colors {
        --color-#{$name-color}: #{$value-color};
    }

    /* !variáveis de fontes */
    // #1 - A função inspect() foi usada para que a fonte "Source Sans Pro"
    // permaneça com as aspas no css final.
    --font-sansserif: #{inspect($font-sansserif)}; // #1 //
    --font-serif: #{inspect($font-serif)}; // #1 //
    --font-monospace: #{inspect($font-monospace)}; // #1 //

}