// *url('/assets/II.scss/06.Themes/_b.dark.scss')

/*----------------------------------------*\
//#THEME: DARK
\*----------------------------------------*/
$onBackground-color: #222;

.dark:root {

  body {
    background-color: dark_color(background);
    color: dark_color(onBackground);
  }

  .fa-moon {
    display: none;
  }

  .fa-sun {
    display: inline;
  }
}
