// *url('/assets/scss/02.Tools/_b.mixins.scss')

// ========== MIXINS SASS ==========
@mixin size($width: 100%, $height: $width) {
    width: $width;
    height: $height;
};

@mixin flex($direction: row, $wrap: nowrap, $align-horizontal: center, $align-vertical: center) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $align-horizontal;
    align-items: $align-vertical;
}
