@charset "UTF-8";
/*----------------------------------------*\
//#GENERICS
\*----------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*----------------------------------------*\
//#TYPOGRAPHY
\*----------------------------------------*/
html {
  /** --------------------
   * Variáveis css das fontes
   * 1. A função inspect() faz as fontes continuarem com suas aspas.
   */
  --font-sansserif: "Poppins", "Source Sans Pro", "Verdana", "Arial", "Helvetica", sans-serif;
  font-family: "Poppins", "Source Sans Pro", "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/*----------------------------------------*\
//#ELEMENTS
\*----------------------------------------*/
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

hr {
  display: block;
  border-top: 1px solid #ccc;
  border: 0;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

/*----------------------------------------*\
//#GRID
\*----------------------------------------*/
/*----------------------------------------*\
//#COMPONENTS
\*----------------------------------------*/
/*----------------------------------------*\
//#THEME: DEFAULT
\*----------------------------------------*/
:root {
  --color-primary: blue;
  --color-secondary: orange;
  --color-background: #f5f5f5;
  --color-text: #222;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

.dark-mode {
  padding: 0 10px;
  cursor: pointer;
}

.fa-sun {
  display: none;
}

/*----------------------------------------*\
//#THEME: DARK
\*----------------------------------------*/
.dark:root {
  /** ----------------------------------------
   * Variáveis de cores do dark mode
   */
  --color-primary: #0000cc;
  --color-secondary: #cc8400;
  --color-background: #191919;
  --color-text: #e9e9e9;
}

/*----------------------------------------*\
//#NO-JS
\*----------------------------------------*/
/*----------------------------------------*\
//#HACKS
\*----------------------------------------*/
/* Esconde o elemento sem deixar espaço do elemento no local */
.is-hidden {
  display: none !important;
}

/* Mostra o elemento como um bloco */
.is-visible-block {
  display: block !important;
}

/* Mostra o elemento como um display inline */
.is-visible-inline {
  display: inline !important;
}

/* Esconde o elemento deixando o espaço do elemento no local */
.is-invisible {
  visibility: hidden !important;
}

/* Coloca o texto do centro */
.text-center {
  text-align: center !important;
}

/* Coloca o texto à direita */
.text-right {
  text-align: right !important;
}

/* Coloca o texto à esquerda */
.text-left {
  text-align: left !important;
}

/* Justifica o texto */
.text-justify {
  text-align: justify !important;
}

/*----------------------------------------*\
//#SHAME
\*----------------------------------------*//*# sourceMappingURL=main.css.map */