// *url('/assets/II.scss/03.Base/_b.typography.scss')

/*----------------------------------------*\
//#TYPOGRAPHY
\*----------------------------------------*/


html {
    font-family: font(sansserif);
    font-size  : 16px;
    font-weight: normal;
    line-height: 1.25;
}

header {
    font-size: 2rem;
}