// *url('/assets/II.scss/03.Base/_b.typography.scss')

/*----------------------------------------*\
//#TYPOGRAPHY
\*----------------------------------------*/


html {
    /** --------------------
     * Variáveis css das fontes
     * 1. A função inspect() faz as fontes continuarem com suas aspas.
     */
    --font-sansserif: #{inspect(font(sansserif))};

    font-family: font(sansserif);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

}