// *url('05.Elements/_a.elements.scss')

body {
    background-color: var(--color-background);
    height: inherit;
}

a {
    text-decoration: none;
}

hr {
    display: block;
    border-top: 1px solid #ccc;
    border: 0;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}
